@font-face {
  src: url(fonts/EduAUVICWANTHand-Regular.ttf);
  font-family: EduAUVICWANTHand-Regular;
}

body {
  background-image: url(background.jpg);
  background-repeat: round;
  background-position: center;
  background-attachment: fixed;
}

* {
  font-family: EduAUVICWANTHand-Regular;
  margin-left: 3px;
  color: #afafaf;
}

#head {
  font-family: EduAUVICWANTHand-Regular;
  font-size: 45px;
  text-align: center;
  background-color: #3d0b5c;
  border: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 0.15cm;
  height: 100px;
  width: 50lvw;
  margin: auto;
}

h3 {
  font-family: EduAUVICWANTHand-Regular;
}

#img1 {
  float: left;
  margin-right: 15px;
  border: 3px solid;
  border-radius: 15px;
  border-color: black;
}
a {
  color: #ff9900;
  text-decoration: none;
}

a:hover {
  background-color: #fffefe42;
  border-radius: 15px;
  padding: 0 6px;
}

input {
  font-family: EduAUVICWANTHand-Regular;
  background-color: rgb(62, 62, 62);
  border: 15px;
  border-radius: 9px;
  padding-left: 9px;
  color: rgb(129, 129, 129);
}

label {
  font-family: EduAUVICWANTHand-Regular;
  margin-right: 6px;
}

button {
  font-family: EduAUVICWANTHand-Regular;
}

#gay {
  height: 100px;
  width: 100px;
  background-color: #00ffff74;
  position: fixed;
}

#dino {
  height: 50px;
  width: 50px;
  background-color: #00ff339a;
  position: absolute;
  left: 21px;
  top: 26px;
}

#jak {
  text-align: center;
  justify-content: center;
  background-color: #3d0b5c;
  border-radius: 15px;
  margin: auto;
  width: 500px;
  height: 400px;
  padding-top: 0.5px;
  border: solid;
  border-color: black;
  border-width: 4px;
}

#bac {
  background-color: #3d0b5d;
  border-radius: 15px;
  padding: 20px;
  border: solid;
  border-color: black;
  border-width: 4px;
  margin: 1%;
}

.s1 {
  float: left;
  border-radius: 15px;
  margin: 12px;
}

.s2 {
  border-radius: 15px;
  margin: 12px;
}
